body{
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}

.header{
    color: #32b9cd; 
    border-bottom: solid 3px #32b9cd;
    /* border: solid 3px green; */
}

.container{
    /* border: solid 3px yellow; */
    width: 80%;
    margin: auto;
}


.header .container{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    width: 600px;
    justify-content: space-around;
    color: #e3b062;
    list-style: none;
    align-items: center;
}

#here {
    font-weight: 1000;
    color: #32b9cd;
}

.banner {
    width: 93.7%;
    height: 400px;
    /* border: 3px solid pink; */
    color: white;
    padding: 40px;
    background-image: url("assets/imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
}

.banner .container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

p {
    /* border: 1px solid yellow; */
    font-size: 36px;
    width: 280px;       
}

.banner .container span {
    font-weight: 800;
}

.social {
    /* border: 1px solid green; */
    background-color: #e5e5e5;
}

.box img {
    width: 170px;
}

.social .container {
    /* border: 1px solid purple; */
}

.social .container .boxes {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    margin: 50px 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}

.social p {
    text-align: center;
    font-size: 16px;
}

.footer .container {
    width: 100%;
    height: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32b9cd;
    font-size: 16px;
}
