body{
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}

.header{
    color: #32b9cd; 
    border-bottom: solid 3px #32b9cd;
    /* border: solid 3px green; */
}

.container{
    /* border: solid 3px yellow; */
    width: 80%;
    margin: auto;
}


.header .container{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    width: 600px;
    justify-content: space-around;
    color: #e3b062;
    list-style: none;
    align-items: center;
}

.navbar a {
    text-decoration: none; 
    color: #e3b062;
}

#here {
    font-weight: 1000;
    color: #32b9cd;
}

.banner {
    width: 93.7%;
    height: 400px;
    /* border: 3px solid pink; */
    color: white;
    padding: 40px;
    background-image: url("assets/imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
}

.banner .container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

p {
    /* border: 1px solid yellow; */
    font-size: 36px;
    width: 280px;       
}

.banner .container span {
    font-weight: 800;
}

.box_form {
    width: 400px;
    height: 300px;
    background-color: #F2F2F2;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.box_form h1 {
    font-size: 30px;
}

.box_input {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box_input span {
    font-size: 14px;
    margin-top: 5px;
}

.box_input input {
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    border: 2px solid rgb(157, 172, 255);
}

.box_input button {
    width: 120px;
    align-self: center;
    background-color: #E1374E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 30px;
    transition: all 0.3s;
    cursor: pointer;
}

.box_input button:hover {
    transition: all 0.3s;
    background-color: #aa0219;
}

.footer .container {
    width: 100%;
    height: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32b9cd;
    font-size: 16px;
}